body { margin: 0 auto; width: 1200px; }

h1,h2,h3 { margin-left: 30px; }
h2 { color: #34495e;}
h3 { font-weight: normal; }
p { margin: 30px; font-size: 18px;}

.bold { font-weight: bold; }
.center { text-align: center; }
.main-border { border-bottom: 1px solid #ebebeb; margin: 30px 0; }
.non-margin { margin: 0 30px; }
.space { padding: 50px; }
.half-space { padding: 25px; }